body {
  background: lightgray;
}
.containerDiv {
  width: 80%;
  margin: 0 auto;
} 
.mainDiv {
  width: 70%;
  float: left;
  margin-left:  5%;
  margin-top: 5%;
  background: white;
  padding: 2%;
} 

.img-thumbnail {
  margin-right: 2%;
}

.footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
  background: darkgray;
  text-align: center;
  height: 64px;
}

h3 {
  line-height: 2;
}